
  <section class="mx-auto px-4 py-8  text-center">
    <div class="max-w-auto mx-auto">
      <h2 class="mt-8 uppercase text-xl lg:text-5xl font-black">We are sorry, Page not found!</h2>
      <!-- llustration by https://storyset.com/error -->
      <%= inline_svg('errors/404.svg', class:"mx-auto")%>      
      <p class="mt-6 uppercase text-sm lg:text-base text-gray-900">The page you are looking for might have been removed or is temporarily unavailable.</p>      
      <%= link_to 'Back to Homepage', '/', class:"mt-6 bg-blue-500 hover:bg-blue-700 text-white font-light py-4 px-6 rounded-full inline-block uppercase shadow-md" %>
    </div>
  </section>
