<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @order.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @order.email %>.<br>
    </p>

    te has inscrito en <%= @order.id %>
  </body>
</html>