<div class="container flex flex-col w-full">
  <div class="bg-gradient-to-b from-green-800 to-blue-600 h-96 w-full"></div>
  <hr>
</div> 
 
<div class="container flex flex-col w-full">
  <div class="bg-gradient-to-b from-indigo-800 to-blue-600 h-96 w-full"></div>
  <hr>
</div> 

<div class="container flex flex-col w-full">
  <div class="bg-gradient-to-b from-yellow-800 to-orange-600 h-96 w-full"></div>
  <hr>
</div> 

<div class="container flex flex-col w-full">
  <div class="bg-gradient-to-b from-orange-800 to-red-600 h-96 w-full"></div>
  <hr>
</div> 

<div class="container flex flex-col w-full">
  <%= render 'contacts/form', contact: @contact %>
</div>

