<section class="w-2/3 text-gray-700 body-font overflow-hidden bg-white my-10 p-10">
  <% if user_signed_in? %>
    <ul>
    <% current_user.orders.each do |order| %>
     <li> <%= link_to order.product_name, user_order_path( order_id: order.id)%> </li>
    <% end %>
    </ul>
  <% else %>
    sin registrar
  <% end %> 
</section>  