<div class="bg-gradient-to-b from-blue-800 to-blue-600 h-56 w-full relative">
  <div class="w-2/3 mx-auto px-6 sm:px-6 lg:px-8 absolute -bottom-6 right-0 left-0">
    <div class="bg-white w-full shadow-xl rounded p-8 sm:p-12">
      <h3 class="font-bold text-4xl flex justify-center"><%= @category.name %></h3>
      <hr class="m-3">
      <%= @category.description %>
    </div>
  </div>
</div>
<div class="h-40"></div>
<hr>
<% if @products.first.present?  %>
  <section class="w-2/3 text-gray-700 body-font overflow-hidden bg-white my-10 p-10">
    <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
      <% @products.each do |product|%>
        <!-- product_card_component --->
        <%= render(CardProductComponent.new(product: product)) %>
        <!---end product_card_component--->
      <% end %>
    </div>
  </section>  
<% end %>