
<div id="app" data-controller="launch-modal">
  <div id="cookies-bar" class="sticky flex md:flex-row justify-center flex-col bg-green-200 bg-opacity-70 py-4 transition-opacity duration-500" data-controller="cookies">
    <p class="flex items-center px-8">En esta web utilizamos cookies. Las aceptas?</p>
    <div class="flex md:flex-row flex-col justify-center">
      <%= button_to 'configurar', cookies_path,         data: { turbo_frame: 'modal' },             class: 'button-default ' %>
      <%= button_to 'Aceptar',    request.original_url, data: { action: 'cookies#acceptCookies' },  class: 'accept button-info' %>
      <%= button_to 'Cancelar',   request.original_url, data: { action: 'cookies#rejectCookies' },  class: 'reject button-info' %>
    </div>
  </div>
</div>
  

