
  <div id="app" data-controller="launch-modal">
    <div id="cookies-bar" class="sticky flex md:flex-row justify-center flex-col bg-green-200 bg-opacity-70 py-4 transition-opacity duration-500" data-controller="cookies">
      <p class="flex items-center px-8">En esta web utilizamos cookies. Las aceptas?</p>
      <div class="flex md:flex-row flex-col justify-center">
        <button data-action="launch-modal#fire" class="button-default">Configurar</button>
        <%= link_to 'Aceptar', request.original_url, class: 'accept button-info', data: {action: 'cookies#acceptCookies'}%>
        <%= link_to 'Cancelar', request.original_url, class: 'reject button-info', data: {action: 'cookies#rejectCookies'}%>
      </div>
    </div>
    <!--TODO: move modal to view component (better way) or instead to a partial (worst way) -->
      <div class="modal invisible" data-controller="modal" data-launch-modal-target="modal">
        <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
          <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!--
              Background overlay, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

            <!-- This element is to trick the browser into centering the modal contents. -->
            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

            <!--
              Modal panel, show/hide based on modal state.

              Entering: "ease-out duration-300"
                From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                To: "opacity-100 translate-y-0 sm:scale-100"
              Leaving: "ease-in duration-200"
                From: "opacity-100 translate-y-0 sm:scale-100"
                To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            -->
            <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full border-t-8 border-pink-400">
              <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 ">
                <div class="sm:flex sm:items-start">
                  
                  <% if 1 == 0 %>
                    <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                      <!-- Heroicon name: outline/exclamation -->
                      <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                      </svg>
                    </div>
                  <% end %>
                  
                  <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Configuración de cookies</h3>
                    <hr>
                    <div class="block">
                      <div class="mt-2">
                        <label class="inline-flex items-center">
                          <input type="checkbox" class="w-6 h-6 rounded-md border-0 focus:ring-0 text-green-300" checked disabled />
                          <span class="ml-2">Funcional</span>
                        </label>
                      </div>
                      <div class="mt-2">
                        <p class="text-sm text-gray-500">Los datos que recopilan estos servicios son necesarios para el rendimiento técnico de la web, para proporcionar funciones de compra básicas, así como para fines de seguridad y prevención de fraude. Siempre activado.</p>
                      </div>  
                    </div>
                    <div class="block">
                      <div class="mt-2">
                        <label class="inline-flex items-center">
                          <input type="checkbox" class="w-6 h-6 rounded-md border-0 focus:ring-0 text-green-600" checked />
                          <span class="ml-2">Marketing</span>
                        </label>
                      </div>
                      <div class="mt-2">
                        <p class="text-sm text-gray-500">Los datos que recopilan estos servicios son necesarios para el rendimiento técnico de la web, para proporcionar funciones de compra básicas, así como para fines de seguridad y prevención de fraude. Siempre activado.</p>
                      </div>  
                    </div>
                    <div class="block">
                      <div class="mt-2">
                        <label class="inline-flex items-center">
                          <input type="checkbox" class="w-6 h-6 rounded-md border-0 focus:ring-0 text-green-600" checked />
                          <span class="ml-2">Estadísticas</span>
                        </label>
                      </div>
                      <div class="mt-2">
                        <p class="text-sm text-gray-500">Los datos que recopilan estos servicios son necesarios para el rendimiento técnico de la web, para proporcionar funciones de compra básicas, así como para fines de seguridad y prevención de fraude. Siempre activado.</p>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row justify-center">
                <button type="button" data-action="modal#close" class="button-primary mr-4">Accept</button>
                <button type="button" data-action="modal#close" class="button-decline ml-4">Decline</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  

