
<div id="app" data-controller="launch-modal">
  <div id="cookies-bar" class="sticky flex md:flex-row justify-center flex-col bg-green-200 bg-opacity-70 py-4 transition-opacity duration-500" data-controller="cookies">
    <p class="flex items-center px-8">En esta web utilizamos cookies. Las aceptas?</p>
    <div class="flex md:flex-row flex-col justify-center">
      <button data-action="launch-modal#fire" class="button-default">Configurar</button>
      <%= link_to 'Aceptar',  request.original_url, class: 'accept button-info', data: { action: 'cookies#acceptCookies' } %>
      <%= link_to 'Cancelar', request.original_url, class: 'reject button-info', data: { action: 'cookies#rejectCookies' } %>
    </div>
  </div>
  <%= render ModalComponent.new(title: 'Configuración de cookies') do %>
    <%= render 'layouts/partials/form_cookies' %>
  <% end %> 
</div>
  

