<div class="block">
  <div class="mt-2">
    <label class="inline-flex items-center">
      <input type="checkbox" class="w-6 h-6 rounded-md border-0 focus:ring-0 text-green-300" checked disabled />
      <span class="ml-2">Funcional</span>
    </label>
  </div>
  <div class="mt-2">
    <p class="text-sm text-gray-500">Los datos que recopilan estos servicios son necesarios para el rendimiento técnico de la web, para proporcionar funciones de compra básicas, así como para fines de seguridad y prevención de fraude. Siempre activado.</p>
  </div>  
</div>
<div class="block">
  <div class="mt-2">
    <label class="inline-flex items-center">
      <input type="checkbox" class="w-6 h-6 rounded-md border-0 focus:ring-0 text-green-600" checked />
      <span class="ml-2">Marketing</span>
    </label>
  </div>
  <div class="mt-2">
    <p class="text-sm text-gray-500">Los datos que recopilan estos servicios son necesarios para el rendimiento técnico de la web, para proporcionar funciones de compra básicas, así como para fines de seguridad y prevención de fraude. Siempre activado.</p>
  </div>  
</div>
<div class="block">
  <div class="mt-2">
    <label class="inline-flex items-center">
      <input type="checkbox" class="w-6 h-6 rounded-md border-0 focus:ring-0 text-green-600" checked />
      <span class="ml-2">Estadísticas</span>
    </label>
  </div>
  <div class="mt-2">
    <p class="text-sm text-gray-500">Los datos que recopilan estos servicios son necesarios para el rendimiento técnico de la web, para proporcionar funciones de compra básicas, así como para fines de seguridad y prevención de fraude. Siempre activado.</p>
  </div>  
</div>
<%= button_tag "Aceptar", data: {action: "modal#hideModal" }, type: 'button', class: 'button-primary mr-4' %>